In [1]:
!pip install pyreadr

Requirement already satisfied: pyreadr in d:\program files\anaconda3\lib\site-packages (0.2.1)

In [2]:
import pandas as pd

In [1]:
import pyreadr

result = pyreadr.read_r('weather.Rds')

In [3]:
df = result[None]

In [5]:
df.head()

,X,year,month,measure,X1,X2,X3,X4,X5,X6,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
0,1,2014,12,Max.TemperatureF,64,42,51,43,42,45,...,44,47,46,59,50,52,52,41,30,30
1,2,2014,12,Mean.TemperatureF,52,38,44,37,34,42,...,39,45,44,52,44,45,46,36,26,25
2,3,2014,12,Min.TemperatureF,39,33,37,30,26,38,...,33,42,41,44,37,38,40,30,22,20
3,4,2014,12,Max.Dew.PointF,46,40,49,24,37,45,...,39,45,46,58,31,34,42,26,10,8
4,5,2014,12,MeanDew.PointF,40,27,42,21,25,40,...,34,42,44,43,29,31,35,20,4,5

In [4]:
df.dtypes

X           int32
year        int32
month       int32
measure    object
X1         object
X2         object
X3         object
X4         object
X5         object
X6         object
X7         object
X8         object
X9         object
X10        object
X11        object
X12        object
X13        object
X14        object
X15        object
X16        object
X17        object
X18        object
X19        object
X20        object
X21        object
X22        object
X23        object
X24        object
X25        object
X26        object
X27        object
X28        object
X29        object
X30        object
X31        object
dtype: object

In [7]:
df.describe().T

       count         mean        std     min      25%     50%      75%     max
X      286.0   143.500000  82.705300     1.0    72.25   143.5   214.75   286.0
year   286.0  2014.923077   0.266936  2014.0  2015.00  2015.0  2015.00  2015.0
month  286.0     6.923077   3.632363     1.0     4.00     7.0    10.00    12.0

In [8]:
df.describe(include='O').T

        count unique                top freq
measure   286     22  Max.Wind.SpeedMPH   13
X1        285    130                 10   33
X2        264    127                 10   27
X3        262    124                 10   23
X4        264    132                 10   28
X5        264    120                 10   29
X6        264    120                 10   32
X7        264    120                 10   30
X8        263    130                 10   24
X9        264    128                 10   22
X10       264    126                 10   26
X11       264    127                 10   24
X12       263    127                 10   26
X13       264    129                 10   31
X14       264    126                 10   34
X15       264    130                 10   28
X16       264    124                 10   32
X17       264    134                 10   29
X18       263    123                 10   30
X19       264    127                 10   32
X20       264    129                 10   26
X21       264    127                 10   24
X22       264    129                 10   24
X23       264    123                 10   33
X24       264    126                 10   27
X25       264    131                 10   29
X26       264    119                 10   29
X27       264    133                 10   28
X28       264    128                 10   25
X29       242    114                 10   28
X30       242    125                 10   28
X31       154     96                 10   17

In [9]:
df.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
X,286,NaN,NaN,NaN,143.5,82.7053,1,72.25,143.5,214.75,286
year,286,NaN,NaN,NaN,2014.92,0.266936,2014,2015,2015,2015,2015
month,286,NaN,NaN,NaN,6.92308,3.63236,1,4,7,10,12
measure,286,22,Max.Wind.SpeedMPH,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X1,285,130,10,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X2,264,127,10,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X3,262,124,10,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X4,264,132,10,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X5,264,120,10,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X6,264,120,10,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X7,264,120,10,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X8,263,130,10,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X9,264,128,10,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X10,264,126,10,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X11,264,127,10,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X12,263,127,10,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X13,264,129,10,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X14,264,126,10,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X15,264,130,10,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X16,264,124,10,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X17,264,134,10,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X18,263,123,10,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X19,264,127,10,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X20,264,129,10,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X21,264,127,10,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X22,264,129,10,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X23,264,123,10,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X24,264,126,10,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X25,264,131,10,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X26,264,119,10,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X27,264,133,10,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X28,264,128,10,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X29,242,114,10,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X30,242,125,10,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X31,154,96,10,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
type(df)

pandas.core.frame.DataFrame

df.tail()

In [12]:
df.drop("X",axis=1,inplace=True)

In [13]:
df.head()

,year,month,measure,X1,X2,X3,X4,X5,X6,X7,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
0,2014,12,Max.TemperatureF,64,42,51,43,42,45,38,...,44,47,46,59,50,52,52,41,30,30
1,2014,12,Mean.TemperatureF,52,38,44,37,34,42,30,...,39,45,44,52,44,45,46,36,26,25
2,2014,12,Min.TemperatureF,39,33,37,30,26,38,21,...,33,42,41,44,37,38,40,30,22,20
3,2014,12,Max.Dew.PointF,46,40,49,24,37,45,36,...,39,45,46,58,31,34,42,26,10,8
4,2014,12,MeanDew.PointF,40,27,42,21,25,40,20,...,34,42,44,43,29,31,35,20,4,5

In [14]:
df.shape

(286, 34)

In [15]:
df.isnull().sum()

year         0
month        0
measure      0
X1           1
X2          22
X3          24
X4          22
X5          22
X6          22
X7          22
X8          23
X9          22
X10         22
X11         22
X12         23
X13         22
X14         22
X15         22
X16         22
X17         22
X18         23
X19         22
X20         22
X21         22
X22         22
X23         22
X24         22
X25         22
X26         22
X27         22
X28         22
X29         44
X30         44
X31        132
dtype: int64

In [16]:
df1 = pd.melt(df, id_vars=['year', 'month', "measure"], var_name="day", value_name='value')
df1.dropna(subset=['value'], inplace=True)
print(df1.head())
print('_'*47)
print(df1.tail())

   year  month            measure day value
0  2014     12   Max.TemperatureF  X1    64
1  2014     12  Mean.TemperatureF  X1    52
2  2014     12   Min.TemperatureF  X1    39
3  2014     12     Max.Dew.PointF  X1    46
4  2014     12     MeanDew.PointF  X1    40
_______________________________________________
      year  month            measure  day value
8817  2015     10  Max.Gust.SpeedMPH  X31    17
8818  2015     10    PrecipitationIn  X31  0.00
8819  2015     10         CloudCover  X31     4
8820  2015     10             Events  X31
8821  2015     10     WindDirDegrees  X31   224

In [17]:
df1.dtypes

year        int32
month       int32
measure    object
day        object
value      object
dtype: object

In [18]:
df1.tail(50)

      year  month                    measure  day  value
8750  2015      7         Mean.Wind.SpeedMPH  X31     11
8751  2015      7          Max.Gust.SpeedMPH  X31     31
8752  2015      7            PrecipitationIn  X31   0.00
8753  2015      7                 CloudCover  X31      2
8754  2015      7                     Events  X31
8755  2015      7             WindDirDegrees  X31    263
8756  2015      8           Max.TemperatureF  X31     90
8757  2015      8          Mean.TemperatureF  X31     81
8758  2015      8           Min.TemperatureF  X31     71
8759  2015      8             Max.Dew.PointF  X31     66
8760  2015      8             MeanDew.PointF  X31     63
8761  2015      8              Min.DewpointF  X31     60
8762  2015      8               Max.Humidity  X31     79
8763  2015      8              Mean.Humidity  X31     60
8764  2015      8               Min.Humidity  X31     40
8765  2015      8   Max.Sea.Level.PressureIn  X31     30
8766  2015      8  Mean.Sea.Level.PressureIn  X31  29.93
8767  2015      8   Min.Sea.Level.PressureIn  X31  29.86
8768  2015      8        Max.VisibilityMiles  X31     10
8769  2015      8       Mean.VisibilityMiles  X31     10
8770  2015      8        Min.VisibilityMiles  X31     10
8771  2015      8          Max.Wind.SpeedMPH  X31     22
8772  2015      8         Mean.Wind.SpeedMPH  X31     11
8773  2015      8          Max.Gust.SpeedMPH  X31     32
8774  2015      8            PrecipitationIn  X31   0.00
8775  2015      8                 CloudCover  X31      2
8776  2015      8                     Events  X31
8777  2015      8             WindDirDegrees  X31    265
8800  2015     10           Max.TemperatureF  X31     52
8801  2015     10          Mean.TemperatureF  X31     45
8802  2015     10           Min.TemperatureF  X31     38
8803  2015     10             Max.Dew.PointF  X31     39
8804  2015     10             MeanDew.PointF  X31     31
8805  2015     10              Min.DewpointF  X31     26
8806  2015     10               Max.Humidity  X31     71
8807  2015     10              Mean.Humidity  X31     58
8808  2015     10               Min.Humidity  X31     44
8809  2015     10   Max.Sea.Level.PressureIn  X31  30.22
8810  2015     10  Mean.Sea.Level.PressureIn  X31  30.14
8811  2015     10   Min.Sea.Level.PressureIn  X31  30.06
8812  2015     10        Max.VisibilityMiles  X31     10
8813  2015     10       Mean.VisibilityMiles  X31     10
8814  2015     10        Min.VisibilityMiles  X31     10
8815  2015     10          Max.Wind.SpeedMPH  X31     13
8816  2015     10         Mean.Wind.SpeedMPH  X31      7
8817  2015     10          Max.Gust.SpeedMPH  X31     17
8818  2015     10            PrecipitationIn  X31   0.00
8819  2015     10                 CloudCover  X31      4
8820  2015     10                     Events  X31
8821  2015     10             WindDirDegrees  X31    224

In [19]:
df1.isnull().sum()

year       0
month      0
measure    0
day        0
value      0
dtype: int64

In [20]:
df1=pd.pivot_table(df1, values='value', index=['year',"month","day"],
                  columns='measure', aggfunc=sum).reset_index()

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 25 columns):
year                         366 non-null int64
month                        366 non-null int64
day                          366 non-null object
CloudCover                   366 non-null object
Events                       366 non-null object
Max.Dew.PointF               366 non-null object
Max.Gust.SpeedMPH            360 non-null object
Max.Humidity                 366 non-null object
Max.Sea.Level.PressureIn     366 non-null object
Max.TemperatureF             366 non-null object
Max.VisibilityMiles          366 non-null object
Max.Wind.SpeedMPH            366 non-null object
Mean.Humidity                366 non-null object
Mean.Sea.Level.PressureIn    366 non-null object
Mean.TemperatureF            366 non-null object
Mean.VisibilityMiles         366 non-null object
Mean.Wind.SpeedMPH           366 non-null object
MeanDew.PointF               366 non-null object
Min.DewpointF                366 non-null object
Min.Humidity                 366 non-null object
Min.Sea.Level.PressureIn     366 non-null object
Min.TemperatureF             366 non-null object
Min.VisibilityMiles          366 non-null object
PrecipitationIn              366 non-null object
WindDirDegrees               366 non-null object
dtypes: int64(2), object(23)
memory usage: 71.6+ KB

In [22]:
df1["day"]

0       X1
1      X10
2      X11
3      X12
4      X13
      ...
361     X6
362     X7
363     X8
364     X9
365     X1
Name: day, Length: 366, dtype: object

In [23]:
df1.loc[1,"day"]

'X10'

In [24]:
df1['day'] = df1['day'].str.replace('X',"")   # df1['day'] = df1['day'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))

In [25]:
df1.head()

measure,year,month,day,CloudCover,Events,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,...,Mean.VisibilityMiles,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees
0,2014,12,1,6,Rain,46,29,74,30.45,64,...,10,13,40,26,52,30.01,39,10,0.01,268
1,2014,12,10,8,Rain,45,29,100,29.58,48,...,3,13,39,37,89,29.43,38,1,0.28,357
2,2014,12,11,8,Rain-Snow,37,28,92,29.81,39,...,7,13,31,27,82,29.44,32,1,0.02,230
3,2014,12,12,7,Snow,28,21,85,29.88,39,...,10,11,27,25,64,29.81,31,7,T,286
4,2014,12,13,5,,28,23,75,29.86,42,...,10,12,26,24,55,29.78,32,10,T,298

In [26]:
df1.columns = df1.columns.str.replace(".","_").str.lower()

In [27]:
df1.columns

Index(['year', 'month', 'day', 'cloudcover', 'events', 'max_dew_pointf',
       'max_gust_speedmph', 'max_humidity', 'max_sea_level_pressurein',
       'max_temperaturef', 'max_visibilitymiles', 'max_wind_speedmph',
       'mean_humidity', 'mean_sea_level_pressurein', 'mean_temperaturef',
       'mean_visibilitymiles', 'mean_wind_speedmph', 'meandew_pointf',
       'min_dewpointf', 'min_humidity', 'min_sea_level_pressurein',
       'min_temperaturef', 'min_visibilitymiles', 'precipitationin',
       'winddirdegrees'],
      dtype='object', name='measure')

In [28]:
df1.head()

measure,year,month,day,cloudcover,events,max_dew_pointf,max_gust_speedmph,max_humidity,max_sea_level_pressurein,max_temperaturef,...,mean_visibilitymiles,mean_wind_speedmph,meandew_pointf,min_dewpointf,min_humidity,min_sea_level_pressurein,min_temperaturef,min_visibilitymiles,precipitationin,winddirdegrees
0,2014,12,1,6,Rain,46,29,74,30.45,64,...,10,13,40,26,52,30.01,39,10,0.01,268
1,2014,12,10,8,Rain,45,29,100,29.58,48,...,3,13,39,37,89,29.43,38,1,0.28,357
2,2014,12,11,8,Rain-Snow,37,28,92,29.81,39,...,7,13,31,27,82,29.44,32,1,0.02,230
3,2014,12,12,7,Snow,28,21,85,29.88,39,...,10,11,27,25,64,29.81,31,7,T,286
4,2014,12,13,5,,28,23,75,29.86,42,...,10,12,26,24,55,29.78,32,10,T,298

In [29]:
df1.shape

(366, 25)

In [30]:
df1['date'] = pd.to_datetime(df1[['year','month','day']], errors='coerce')

In [31]:
df1.dtypes

measure
year                                  int64
month                                 int64
day                                  object
cloudcover                           object
events                               object
max_dew_pointf                       object
max_gust_speedmph                    object
max_humidity                         object
max_sea_level_pressurein             object
max_temperaturef                     object
max_visibilitymiles                  object
max_wind_speedmph                    object
mean_humidity                        object
mean_sea_level_pressurein            object
mean_temperaturef                    object
mean_visibilitymiles                 object
mean_wind_speedmph                   object
meandew_pointf                       object
min_dewpointf                        object
min_humidity                         object
min_sea_level_pressurein             object
min_temperaturef                     object
min_visibilitymiles                  object
precipitationin                      object
winddirdegrees                       object
date                         datetime64[ns]
dtype: object

In [32]:
df1 = df1.drop(df1.columns[[0, 1, 2]], axis=1)

In [33]:
df1.head()

measure,cloudcover,events,max_dew_pointf,max_gust_speedmph,max_humidity,max_sea_level_pressurein,max_temperaturef,max_visibilitymiles,max_wind_speedmph,mean_humidity,...,mean_wind_speedmph,meandew_pointf,min_dewpointf,min_humidity,min_sea_level_pressurein,min_temperaturef,min_visibilitymiles,precipitationin,winddirdegrees,date
0,6,Rain,46,29,74,30.45,64,10,22,63,...,13,40,26,52,30.01,39,10,0.01,268,2014-12-01
1,8,Rain,45,29,100,29.58,48,10,23,95,...,13,39,37,89,29.43,38,1,0.28,357,2014-12-10
2,8,Rain-Snow,37,28,92,29.81,39,10,21,87,...,13,31,27,82,29.44,32,1,0.02,230,2014-12-11
3,7,Snow,28,21,85,29.88,39,10,16,75,...,11,27,25,64,29.81,31,7,T,286,2014-12-12
4,5,,28,23,75,29.86,42,10,17,65,...,12,26,24,55,29.78,32,10,T,298,2014-12-13

In [34]:
df1['precipitationin'].mask(df1['precipitationin'] == 'T', '0', inplace=True) #df1['precipitationin'] = df1['precipitationin'].str.replace("T","0")

In [35]:
df1.head()

measure,cloudcover,events,max_dew_pointf,max_gust_speedmph,max_humidity,max_sea_level_pressurein,max_temperaturef,max_visibilitymiles,max_wind_speedmph,mean_humidity,...,mean_wind_speedmph,meandew_pointf,min_dewpointf,min_humidity,min_sea_level_pressurein,min_temperaturef,min_visibilitymiles,precipitationin,winddirdegrees,date
0,6,Rain,46,29,74,30.45,64,10,22,63,...,13,40,26,52,30.01,39,10,0.01,268,2014-12-01
1,8,Rain,45,29,100,29.58,48,10,23,95,...,13,39,37,89,29.43,38,1,0.28,357,2014-12-10
2,8,Rain-Snow,37,28,92,29.81,39,10,21,87,...,13,31,27,82,29.44,32,1,0.02,230,2014-12-11
3,7,Snow,28,21,85,29.88,39,10,16,75,...,11,27,25,64,29.81,31,7,0,286,2014-12-12
4,5,,28,23,75,29.86,42,10,17,65,...,12,26,24,55,29.78,32,10,0,298,2014-12-13

In [36]:
df1.tail()

measure,cloudcover,events,max_dew_pointf,max_gust_speedmph,max_humidity,max_sea_level_pressurein,max_temperaturef,max_visibilitymiles,max_wind_speedmph,mean_humidity,...,mean_wind_speedmph,meandew_pointf,min_dewpointf,min_humidity,min_sea_level_pressurein,min_temperaturef,min_visibilitymiles,precipitationin,winddirdegrees,date
361,4,,62,32,93,30.07,73,10,26,79,...,15,61,54,64,29.71,62,10,0.00,222,2015-11-06
362,6,,45,33,57,30.02,69,10,25,48,...,13,38,33,39,29.83,50,10,0.00,280,2015-11-07
363,0,,34,25,65,30.38,56,10,18,48,...,12,30,24,30,30.04,44,10,0.00,283,2015-11-08
364,2,,36,20,70,30.43,60,10,16,52,...,9,32,30,33,30.32,41,10,0.00,237,2015-11-09
365,7,Rain,43,17,96,30.4,45,10,15,83,...,6,35,25,69,30.01,32,1,0.14,109,2015-12-01

In [37]:
columns = list(df1)

In [38]:
columns.insert(0, columns.pop(columns.index('date')))
columns

['date',
 'cloudcover',
 'events',
 'max_dew_pointf',
 'max_gust_speedmph',
 'max_humidity',
 'max_sea_level_pressurein',
 'max_temperaturef',
 'max_visibilitymiles',
 'max_wind_speedmph',
 'mean_humidity',
 'mean_sea_level_pressurein',
 'mean_temperaturef',
 'mean_visibilitymiles',
 'mean_wind_speedmph',
 'meandew_pointf',
 'min_dewpointf',
 'min_humidity',
 'min_sea_level_pressurein',
 'min_temperaturef',
 'min_visibilitymiles',
 'precipitationin',
 'winddirdegrees']

In [39]:
df1 = df1.ix[:, columns]

D:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
D:\Program Files\Anaconda3\lib\site-packages\pandas\core\indexing.py:822: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  retval = getattr(retval, self.name)._getitem_axis(key, axis=i)

In [40]:
df1.iloc[:100,0:5]

measure       date cloudcover         events max_dew_pointf max_gust_speedmph
0       2014-12-01          6           Rain             46                29
1       2014-12-10          8           Rain             45                29
2       2014-12-11          8      Rain-Snow             37                28
3       2014-12-12          7           Snow             28                21
4       2014-12-13          5                            28                23
..             ...        ...            ...            ...               ...
95      2015-03-14          7       Fog-Rain             39                20
96      2015-03-15          8  Fog-Rain-Snow             34                40
97      2015-03-16          2                            23                25
98      2015-03-17          5      Rain-Snow             41                51
99      2015-03-18          1                             7                52

[100 rows x 5 columns]

In [41]:
df1.isnull().sum()

measure
date                         0
cloudcover                   0
events                       0
max_dew_pointf               0
max_gust_speedmph            6
max_humidity                 0
max_sea_level_pressurein     0
max_temperaturef             0
max_visibilitymiles          0
max_wind_speedmph            0
mean_humidity                0
mean_sea_level_pressurein    0
mean_temperaturef            0
mean_visibilitymiles         0
mean_wind_speedmph           0
meandew_pointf               0
min_dewpointf                0
min_humidity                 0
min_sea_level_pressurein     0
min_temperaturef             0
min_visibilitymiles          0
precipitationin              0
winddirdegrees               0
dtype: int64

In [42]:
df1.dtypes

measure
date                         datetime64[ns]
cloudcover                           object
events                               object
max_dew_pointf                       object
max_gust_speedmph                    object
max_humidity                         object
max_sea_level_pressurein             object
max_temperaturef                     object
max_visibilitymiles                  object
max_wind_speedmph                    object
mean_humidity                        object
mean_sea_level_pressurein            object
mean_temperaturef                    object
mean_visibilitymiles                 object
mean_wind_speedmph                   object
meandew_pointf                       object
min_dewpointf                        object
min_humidity                         object
min_sea_level_pressurein             object
min_temperaturef                     object
min_visibilitymiles                  object
precipitationin                      object
winddirdegrees                       object
dtype: object

In [43]:
df1.iloc[:,3:] = df1.iloc[:,3:].apply(pd.to_numeric)

In [44]:
df1[["cloudcover"]] = df1[["cloudcover"]].apply(pd.to_numeric)

In [45]:
df1.dtypes

measure
date                         datetime64[ns]
cloudcover                            int64
events                               object
max_dew_pointf                        int64
max_gust_speedmph                   float64
max_humidity                          int64
max_sea_level_pressurein            float64
max_temperaturef                      int64
max_visibilitymiles                   int64
max_wind_speedmph                     int64
mean_humidity                         int64
mean_sea_level_pressurein           float64
mean_temperaturef                     int64
mean_visibilitymiles                  int64
mean_wind_speedmph                    int64
meandew_pointf                        int64
min_dewpointf                         int64
min_humidity                          int64
min_sea_level_pressurein            float64
min_temperaturef                      int64
min_visibilitymiles                   int64
precipitationin                     float64
winddirdegrees                        int64
dtype: object

In [63]:
df1.tail()

measure,date,cloudcover,events,max_dew_pointf,max_gust_speedmph,max_humidity,max_sea_level_pressurein,max_temperaturef,max_visibilitymiles,max_wind_speedmph,...,mean_visibilitymiles,mean_wind_speedmph,meandew_pointf,min_dewpointf,min_humidity,min_sea_level_pressurein,min_temperaturef,min_visibilitymiles,precipitationin,winddirdegrees
361,2015-11-06,4,NaN,62,32.0,93,30.07,73,10,26,...,10,15,61,54,64,29.71,62,10,0.00,222
362,2015-11-07,6,NaN,45,33.0,57,30.02,69,10,25,...,10,13,38,33,39,29.83,50,10,0.00,280
363,2015-11-08,0,NaN,34,25.0,65,30.38,56,10,18,...,10,12,30,24,30,30.04,44,10,0.00,283
364,2015-11-09,2,NaN,36,20.0,70,30.43,60,10,16,...,10,9,32,30,33,30.32,41,10,0.00,237
365,2015-12-01,7,Rain,43,17.0,96,30.40,45,10,15,...,8,6,35,25,69,30.01,32,1,0.14,109

In [47]:
import numpy as np

In [62]:
df1["events"]=df1["events"].replace(r'^\s*$', np.nan, regex=True)

In [49]:
#df1['events'].mask(df1['events'] == '0', 'np.nan', inplace=True) #df1["events"] = df1["events"].str.replace("0","np.nan")

In [50]:
df1.date.tail(50)

316   2015-10-20
317   2015-10-21
318   2015-10-22
319   2015-10-23
320   2015-10-24
321   2015-10-25
322   2015-10-26
323   2015-10-27
324   2015-10-28
325   2015-10-29
326   2015-10-03
327   2015-10-30
328   2015-10-31
329   2015-10-04
330   2015-10-05
331   2015-10-06
332   2015-10-07
333   2015-10-08
334   2015-10-09
335   2015-11-01
336   2015-11-10
337   2015-11-11
338   2015-11-12
339   2015-11-13
340   2015-11-14
341   2015-11-15
342   2015-11-16
343   2015-11-17
344   2015-11-18
345   2015-11-19
346   2015-11-02
347   2015-11-20
348   2015-11-21
349   2015-11-22
350   2015-11-23
351   2015-11-24
352   2015-11-25
353   2015-11-26
354   2015-11-27
355   2015-11-28
356   2015-11-29
357   2015-11-03
358   2015-11-30
359   2015-11-04
360   2015-11-05
361   2015-11-06
362   2015-11-07
363   2015-11-08
364   2015-11-09
365   2015-12-01
Name: date, dtype: datetime64[ns]

In [51]:
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
measure,,,,,,,,
cloudcover,366.0,4.707650,2.373206,0.00,3.00,5.00,7.00,8.00
max_dew_pointf,366.0,45.475410,18.317241,-6.00,32.00,47.50,61.00,75.00
max_gust_speedmph,360.0,26.988889,8.635929,0.00,21.00,25.50,31.25,94.00
max_humidity,366.0,85.685792,49.996900,39.00,73.25,86.00,93.00,1000.00
max_sea_level_pressurein,366.0,30.155328,0.232095,29.58,30.00,30.14,30.31,30.88
max_temperaturef,366.0,58.931694,20.047156,18.00,42.00,60.00,76.00,96.00
max_visibilitymiles,366.0,9.907104,0.707768,2.00,10.00,10.00,10.00,10.00
max_wind_speedmph,366.0,20.620219,5.762945,8.00,16.00,20.00,24.00,38.00
mean_humidity,366.0,66.021858,14.433392,28.00,56.00,66.00,76.75,98.00
mean_sea_level_pressurein,366.0,30.038251,0.235583,29.49,29.87,30.03,30.19,30.77
mean_temperaturef,366.0,51.404372,19.156754,8.00,36.25,53.50,68.00,84.00
mean_visibilitymiles,366.0,8.860656,2.065963,-1.00,8.00,10.00,10.00,10.00
mean_wind_speedmph,366.0,10.680328,3.491515,4.00,8.00,10.00,13.00,22.00
meandew_pointf,366.0,38.959016,19.870153,-11.00,24.00,41.00,56.00,71.00
min_dewpointf,366.0,32.245902,21.811639,-18.00,16.25,35.00,51.00,68.00
min_humidity,366.0,48.308743,17.414221,16.00,35.00,46.00,60.00,96.00
min_sea_level_pressurein,366.0,29.925956,0.241768,29.16,29.76,29.94,30.09,30.64
min_temperaturef,366.0,43.327869,18.734530,-3.00,30.00,46.00,60.00,74.00
min_visibilitymiles,366.0,6.715847,4.051196,0.00,2.00,10.00,10.00,10.00
precipitationin,366.0,0.101557,0.294215,0.00,0.00,0.00,0.04,2.90
winddirdegrees,366.0,200.081967,98.707393,1.00,113.00,222.00,275.00,360.00

In [52]:
df1.loc[df1.max_humidity == 1000, 'max_humidity'] = 100
df1.loc[df1.mean_visibilitymiles == -1, 'mean_visibilitymiles'] = 10
df1["max_gust_speedmph"].fillna(df1["max_gust_speedmph"].mean(), inplace=True)

In [64]:
df1[ "events" ].fillna(method = 'ffill', inplace=True)

In [54]:
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
measure,,,,,,,,
cloudcover,366.0,4.707650,2.373206,0.00,3.00,5.00,7.00,8.00
max_dew_pointf,366.0,45.475410,18.317241,-6.00,32.00,47.50,61.00,75.00
max_gust_speedmph,366.0,26.988889,8.564654,0.00,21.00,26.00,31.00,94.00
max_humidity,366.0,83.226776,14.277886,39.00,73.25,86.00,93.00,100.00
max_sea_level_pressurein,366.0,30.155328,0.232095,29.58,30.00,30.14,30.31,30.88
max_temperaturef,366.0,58.931694,20.047156,18.00,42.00,60.00,76.00,96.00
max_visibilitymiles,366.0,9.907104,0.707768,2.00,10.00,10.00,10.00,10.00
max_wind_speedmph,366.0,20.620219,5.762945,8.00,16.00,20.00,24.00,38.00
mean_humidity,366.0,66.021858,14.433392,28.00,56.00,66.00,76.75,98.00
mean_sea_level_pressurein,366.0,30.038251,0.235583,29.49,29.87,30.03,30.19,30.77
mean_temperaturef,366.0,51.404372,19.156754,8.00,36.25,53.50,68.00,84.00
mean_visibilitymiles,366.0,8.890710,2.001115,1.00,8.00,10.00,10.00,10.00
mean_wind_speedmph,366.0,10.680328,3.491515,4.00,8.00,10.00,13.00,22.00
meandew_pointf,366.0,38.959016,19.870153,-11.00,24.00,41.00,56.00,71.00
min_dewpointf,366.0,32.245902,21.811639,-18.00,16.25,35.00,51.00,68.00
min_humidity,366.0,48.308743,17.414221,16.00,35.00,46.00,60.00,96.00
min_sea_level_pressurein,366.0,29.925956,0.241768,29.16,29.76,29.94,30.09,30.64
min_temperaturef,366.0,43.327869,18.734530,-3.00,30.00,46.00,60.00,74.00
min_visibilitymiles,366.0,6.715847,4.051196,0.00,2.00,10.00,10.00,10.00
precipitationin,366.0,0.101557,0.294215,0.00,0.00,0.00,0.04,2.90
winddirdegrees,366.0,200.081967,98.707393,1.00,113.00,222.00,275.00,360.00

In [55]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 23 columns):
date                         366 non-null datetime64[ns]
cloudcover                   366 non-null int64
events                       366 non-null object
max_dew_pointf               366 non-null int64
max_gust_speedmph            366 non-null float64
max_humidity                 366 non-null int64
max_sea_level_pressurein     366 non-null float64
max_temperaturef             366 non-null int64
max_visibilitymiles          366 non-null int64
max_wind_speedmph            366 non-null int64
mean_humidity                366 non-null int64
mean_sea_level_pressurein    366 non-null float64
mean_temperaturef            366 non-null int64
mean_visibilitymiles         366 non-null int64
mean_wind_speedmph           366 non-null int64
meandew_pointf               366 non-null int64
min_dewpointf                366 non-null int64
min_humidity                 366 non-null int64
min_sea_level_pressurein     366 non-null float64
min_temperaturef             366 non-null int64
min_visibilitymiles          366 non-null int64
precipitationin              366 non-null float64
winddirdegrees               366 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(16), object(1)
memory usage: 65.9+ KB

In [66]:
df1.isnull().sum()

measure
date                         0
cloudcover                   0
events                       0
max_dew_pointf               0
max_gust_speedmph            0
max_humidity                 0
max_sea_level_pressurein     0
max_temperaturef             0
max_visibilitymiles          0
max_wind_speedmph            0
mean_humidity                0
mean_sea_level_pressurein    0
mean_temperaturef            0
mean_visibilitymiles         0
mean_wind_speedmph           0
meandew_pointf               0
min_dewpointf                0
min_humidity                 0
min_sea_level_pressurein     0
min_temperaturef             0
min_visibilitymiles          0
precipitationin              0
winddirdegrees               0
dtype: int64

In [57]:
#!pip install pandas_profiling

In [58]:
#import pandas_profiling

In [59]:
#pandas_profiling.ProfileReport(df1)

In [74]:
df1.head()

measure,date,cloudcover,events,max_dew_pointf,max_gust_speedmph,max_humidity,max_sea_level_pressurein,max_temperaturef,max_visibilitymiles,max_wind_speedmph,...,mean_visibilitymiles,mean_wind_speedmph,meandew_pointf,min_dewpointf,min_humidity,min_sea_level_pressurein,min_temperaturef,min_visibilitymiles,precipitationin,winddirdegrees
0,2014-12-01,6,Rain,46,29.0,74,30.45,64,10,22,...,10,13,40,26,52,30.01,39,10,0.01,268
1,2014-12-10,8,Rain,45,29.0,100,29.58,48,10,23,...,3,13,39,37,89,29.43,38,1,0.28,357
2,2014-12-11,8,Rain-Snow,37,28.0,92,29.81,39,10,21,...,7,13,31,27,82,29.44,32,1,0.02,230
3,2014-12-12,7,Snow,28,21.0,85,29.88,39,10,16,...,10,11,27,25,64,29.81,31,7,0.00,286
4,2014-12-13,5,Snow,28,23.0,75,29.86,42,10,17,...,10,12,26,24,55,29.78,32,10,0.00,298

In [67]:
from pandas import DataFrame

In [79]:
df1.to_csv (r'kalem.csv', index = None, header=True)